.cards {
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-bottom: 3vh;
    border: 1px solid #d8d8d8;
  }

  &__link {
    height: 170px;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__img {
    background-color: grey;
  }

  &__price {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: .6em;
  }

  &__text {
    font-size: calc((15 / 16) * 100%);
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: .5vh;
    padding-bottom: .5vh;
    background-color: #a1887f;
  }

  &__button {
    font-size: calc((12 / 16) * 100%);
    color: white;
    padding: 5px 30px 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: #ff5252;
  }

}
