.catalog-unit {
  font-family: "Helvetica";
  color: #424242;
  font-size: calc((15/16)*100%);
  line-height: calc((30/16)*100%);

  &_container {
    width: 90%;
    margin: 0 auto;
  }

  &__title {
    font-family: Georgia;
    font-size: calc((18/16)*100%);
    font-weight: 700;
    margin-bottom: 11px;
  }

  &__style {
    display: block;
    font-weight: 300;
  }

  &__brand {
    display: block;
  }

  &__from {
    display: block;
  }
}
