.categories {
  display: none;
}

@media (min-width: 834px) {
  .categories {
    display: flex;

    &__items {}

    &__item {
      flex: 0 0 100px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .categories {
    width: 80%;

    &__items {
      width: 100%;
      justify-content: space-around;
      margin: 0 auto;
    }
  }
}
