.circle {
  width: 6px;
  height: 6px;
  background-color: #ff5252;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2em;
  position: relative;
}

.circle::before {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 3px;
  right: 12px;
}

.circle::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 3px;
  left: 12px;
}

@media (min-width: 1200px) {
  .circle {
    &_features {
      margin: 0 auto 4em;
    }
  }
}
