.circle {
  width: 284px;
  height: 27px;
  background-image: url(../img/line_3%203.png);
}

@media (min-width: 1200px) {
  .circle {
    margin-bottom: 66px;

    &_features {
      margin: 0 auto 4em;
    }
  }
}
