.container {
    &__header {
        height: 48px;
        width: 320px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &__site-nav {
        display: none;
    }

    &__button {
        order: 0;
    }

    &__logo {
        order: 1;
    }

    &__user {
        order: 2;
        height: 100%;
        flex-basis: 20%;
    }

    &__offer {
        order: 3;
        flex-basis: 100%;
    }
}

@media (min-width: 834px) {
    .container {
        &__header {
            width: 95.2%;
            height: 85px;
            justify-content: space-between;
        }

        &__offer {
            display: block;
            height: 40px;
        }
    }
}

@media (min-width: 1440px) {
    .container {
        &__site-nav {
            display: block;
        }
    }
}
