.container {
  width: 320px;
  margin: 0 auto;

  &__header {
    display: grid;
  }

  &__button {
    flex-basis: 80px;
  }

  &__site-nav {
    display: none;
  }

  &__logo {
    width: 71px;
    height: auto;
  }

  &__user {}

  &__offer {}
}
