.features {

  &__items {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
  }

  &__card-title {
    font-size: calc((16/16)*100%);
    font-weight: 200;
  }

  &__paragraph {
    font-size: calc((16/16)*100%);
    padding-left: 1em;
  }
}
