.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 65px;
}

@media (min-width: 834px) {
  .features {
    background-image: url(../img/background-features.png);
    background-size: cover;
    background-repeat: repeat;
    margin-bottom: 94px;
  }
}

@media (min-width: 1440px) {
  .features {
    height: 410px;
  }
}
