.form {
  &_callback {
    margin-bottom: 10px;
  }

  &__fieldset {
    padding: 0;
    border: none;
    width: 80%;
    margin: 0 auto;
  }

  &__label {
    display: block;
    height: 50px;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .form {
    width: 60%;

    &_callback {
      width: 50%;
    }

    &__input {
      text-align: left;
    }
  }
}
