.header {
  width: 100%;
  height: 48px;
  background-color: #493B38;

  &_main {
    margin-bottom: 33px;
  }

  &_opened {
    height: 276px;
  }
}

@media (min-width: 834px) {
  .header {
    background-color: #fff;

    &_opened {
      height: 311px;
    }

    &_main {
      margin-bottom: 40px;
      height: auto;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    height: auto;
    background-color: #ffffff;
  }
}
