.header {
  width: 100%;
  height: 48px;
  background-color: #493B38;

  &_opened {
    height: 286px;
  }
}

@media (min-width: 834px) {
  .header {
    height: 85px;

    &_opened {
      height: 286px;
    }
  }
}
