.list {
  &_offer {
    padding-top: 20px;
  }

  &__link_offer {
    display: block;
    font-family: "Georgia Bold";
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 51px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: 834px) {
  .list {
    &_nav {
      width: 634px;
      height: inherit;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__item {
      height: inherit;
    }

    &__link_nav {
      display: flex;
      align-items: center;
      font-family: Georgia;
      font-size: 16px;
      line-height: 18px;
      color: #493B38;
      text-decoration: none;
      height: 100%;
    }
  }
}
