.map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 94px;

  &__item {
    width: 324px;
    height: 192px;
    background-color: grey;
  }

  &__adress {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
