.map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 94px;

  &__item {
    width: 324px;
    height: 192px;
    background-color: grey;
  }

  &__adress {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1440px) {
  .map {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 94px;

    &__item {
      width: 500px;
      height: 275px;
    }

    &__info {
      width: 320px;
    }
  }
}
