.news {
  display: none;
  background-image: url(../img/background-news.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

  &__fieldset {
    border: none;
    padding-bottom: 1.625em;
  }

  &__legend {
    font-size: calc((14 / 16) * 100%);
    font-weight: 400;
    padding-bottom: 10px;
  }

  &__input {
    width: 80%;
    height: 31px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    font-size: calc((20/16)*100%);
  }
}

@media (min-width: 768px) {
  .news {
    &__input {
      height: 60px;
    }
  }
}

@media (min-width: 1440px) {
  .news {
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 94px;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__input {
      margin-left: auto;
    }

    &__span {
      font-family: Ubuntu;
      font-size: 12px;
      line-height: 19px;
    }

    &__span_title {
      font-size: 22px;
      line-height: 19px;
    }
  }
}
