.o-kompanii {
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__promo-text {
        display: none;
    }

    &__text {
        width: 90%;
        margin: 0 auto;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        text-align: center;
        margin-bottom: 64px;
    }

    &__logos {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        text-align: center;
        margin-bottom: 30px;
        border: 1px solid #e4e4e4;
    }

    &__img {
        max-width: 90%;
        margin-bottom: 34px;

        &-partners {
            margin-bottom: 0;
        }
    }

    &__works {
        width: 100%;
    }

    &__works-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 834px) {
    .o-kompanii {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 175px;
        flex-direction: row;
        flex-wrap: wrap;

        &__container {
            width: 550px;
            margin: 0 auto;
            text-align: center;
        }

        &__promo {
            margin-bottom: 62px;
            flex-basis: 100%;
        }

        &__text:nth-of-type(1) {
            flex-basis: 50%;
        }

        &__promo-text {
            display: inline;
            font-family: Ubuntu;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 1px;
            color: #ffffff;
            background-color: #493b38;
            box-decoration-break: clone;
            padding: 5px 10px;
            position: relative;
        }

        &__promo-text:before {
            content: "";
            position: absolute;
            top: -20px;
            left: -40px;
            display: block;
            width: 33px;
            height: 21px;
            background-image: url(../img/Kavyichki.png);
        }

        &__promo-text:after {
            content: "";
            position: absolute;
            bottom: -80px;
            right: -60px;
            display: block;
            width: 33px;
            height: 21px;
            background-image: url(../img/Kavyichki.png);
            transform: rotate(180deg);
        }

        &__img {
            max-width: 30%;
            margin-bottom: 74px;

            &_first {
                width: 40%;
                float: right;
            }

            &_about {
                max-width: 100%;
                height: 100%;
                margin-bottom: 0;
            }

            &-partners {
                margin-bottom: 0;
                width: 50%;
                height: auto;
            }
        }

        &__partners {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__logos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__logo {
            flex-basis: 30%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__works-box {
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }
    }
}

@media (min-width: 1440px) {
    .o-kompanii {
        display: block;

        &__container {
            width: 50%;
        }

        &__promo {
            order: 0;
        }

        &__promo-text {
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 1.3px;

            &_first {
                width: 100%;
                order: 1;
            }
        }

        &__promo-text:before {
            top: 0;
            left: -60px;
        }

        &__promo-text:after {
            bottom: -100px;
            right: -60px;
        }

        &__partners {
            width: 100%;
        }

        &__img {
            width: 100%;
            margin: 0;

            &_first {
                max-width: 50%;
                margin-bottom: 0;
            }

            &_about {
                max-width: 100%;
                margin: 0;
            }
        }

        &__logo {
            height: 150px;
        }

        &__text:nth-of-type(1) {
            width: 70%;
            margin-bottom: 34px;
        }

        &__text {
            width: 40%;
            margin: 0;
        }
    }
}
