.press {
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    text-align: left;
  }

  &__info {
    padding-left: 2em;
  }
}
