.social {
    &__text {
        font-size: calc((14 / 16) * 100%);
        font-weight: 300;
        line-height: calc((26 / 16) * 100%);
        color: white;
        padding: 0 20px 20px 20px;
    }
}
