.user {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__link {
    font-family: Ubuntu;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    line-height: 19px;
  }

  &__card {
    background-image: url("../img/card.svg");
  }

  &_footer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .user {
    &_footer {
      display: flex;
      width: 200px;
      height: auto;
      justify-content: space-between;
    }

    &__link {
      color: #493B38;

      &_footer {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
