.user {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__link {
    font-family: Ubuntu;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    line-height: 19px;
  }

  &__card {
    background-image: url("../img/card.svg");
  }
}

@media (min-width: 1440px) {
  .user {
    &__link {
      color: #493B38;
    }
  }
}
