.works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__items {
    width: 90%;
  }

  &__item {
    width: 100%;
    margin-bottom: 23px;
    background-color: #fff;
  }

  &__news {
    display: block;
    font-size: calc((13/16)*100%);
    color: #a1887f;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1vh;
  }

  &__about {
    width: 50%;
    height: auto;
    background-color: #fff;
    text-align: left;
  }

  &__project {
    font-size: calc((12/16)*100%);
    color: #a1887f;
  }

  &__text {
    height: 7vh;
    overflow: hidden;
    font-size: calc((14/16)*100%);
    line-height: calc((23/16)*100%);
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10px;
  }
}
